<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/aboutme.css">
<link rel="stylesheet" href="../styles/annimations.css">
<link rel="stylesheet" href="../styles/projects.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/9c02f0a892.js"></script>
<script src="https://kit.fontawesome.com/e9c1d6f30e.js" crossorigin="anonymous"></script>
</head>
<body>
   
    <div class="navbar-container">
        <span class="logo">Ayush</span>
        <nav>
          
            <ul class="navbar-container-lists">

                <a href="#home"><li class="l1">Home </li></a>
                <a href="#about"><li class="l1">About</li></a>
                <a href="#work"><li class="l1">Work Experience </li></a>
                <a href="#project"><li class="l1"> Projects  </li></a>
                <a href="#connect"><li class="l1 contact-btn"> Contact</li></a>

            </ul>
          </nav>
       
    </div>

    <div class="frontpage" id="home">

        <div class="front-page-left">

           


                <div class="text">
                    <div>Hey there!</div>
                    <h1>I'm <span id="name">Ayush Verma.</span></h1>

                    <div  class="aboutme"><h4></h4></div>
                   
                    <div class="arrow-down">
                        <div class="arrow bounce">
                            <div><a href="#about" class="ar fa fa-long-arrow-up fa-3x"></a></div>              
                        </div>
                    </div>
                </div>
               
        </div>

        <div class="front-page-right">
            <img class="ayush" src="../Images/ayush.jpeg">  
        </div>

        <div class="social-media">
           <a href="https://www.instagram.com/ayuush_verma/" target="_blank"><span class="fa fa-instagram"></span></a> 
            <a href="https://www.linkedin.com/in/ayushimpulse/" target="_blank"><span class="fa fa-linkedin-square"></span></a> 
            <a href="https://www.quora.com/profile/Ayush-Verma-160" target="_blank"><span class="fa fa-quora"></span> </a>
            <a href="https://www.codechef.com/users/ayush_8750" target="_blank"><i class="fab fa-cuttlefish"></i></a>
            <a href="https://www.hackerrank.com/ayush_verma8750" target="_blank"><i class="fab fa-hackerrank"></i></a>
          
        </div>
  
    </div>





<div class="about-me" id="about">
    
    <div class="aboutme-content">

        <h1> About me</h1>
      
        <p>I'm an enthusiastic Web developer who likes to redefines his limitations in all dimensions of life. 
            I'm currently in second year pursuing Computer Science Engineering from Abdul Kalam Technical University.<br><br>I wrote my first code in class 8th and I knew what
            I was gonna do for life. I get my kicks in the process of developing Websites which could leave a positive 
            impact on the users as well as the whole community. Other than this, I'm a national badminton player who likes to keep himself fit.<br><br>
         </p>
         <p>I have done my high schooling from Le Bocage International School , Mauritius where I earned Distinction. Later, I completed my 11th and 12th from India
             where I scored 95% (in PCM).
         </p>

    </div>
    
    <div class="about-pictures">
        
        <img src="../Images/vector-ayush.jpeg" alt='badminton'> 
       
    </div>
        

    </div>
   
    <div class="tech-skills-container" >
    <h3 class="tech-skills">Technical skills</h3>

    <div class="skill-container">
       
        <div class="css-html">
            
            <div class="css-heading">
                HTML, CSS and Javascript
            </div>

            <div class="css-image">
                <img src="../Images/css.png">
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>

        <div class="css-html">
            
            <div class="css-heading">
                Python 
            </div>

            <div class="css-image">
                <img src="../Images/python.png" >
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>

        <div class="css-html">
            
            <div class="css-heading">
                Bootstrap5 -frontend-framework
            </div>

            <div class="css-image">
                <img src="../Images/bootstrap.png" >
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>

        <div class="css-html">
            
            <div class="css-heading">
                Flask -Microframework
            </div>

            <div class="css-image">
                <img src="../Images/flask.png">
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
                </div>


            </div>


        </div>


    </div>
    <!-- work experience and achivement-->

    <div class="work-container " id="work">
    <h3 class="work-skills">Work Experience and Achievements</h3>

    <div class="skill-container">
       
        <div class="css-html">
            
            <div class="css-heading">
                Campus Ninja
            </div>

            <div class="css-image">
                <img src="../Images/cn.svg">
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>

        <div class="css-html">
            
            <div class="css-heading">
                Winner of Ninjathon 2020
            </div>

            <div class="css-image">
                <img src="../Images/covid.png">
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>

        <div class="css-html">
            
            <div class="css-heading">
                Top Perfomer of Sacred Codes
            </div>

            <div class="css-image">
                <img src="../Images/cp.png">
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>

        <div class="css-html">
            
            <div class="css-heading">
               Python and Problem Solving
            </div>

            <div class="css-image">
                <img src="../Images/hackerrank.png">
            </div>


            <div class="css-content">
                If you want apply multiple transformations to an 
                element, be careful about the order in which you
                 specify your transformations. For example, if you rotate before translating, the
                 translation will be along the new axis of rotation!
            </div>


        </div>


     </div>

    </div>


    <!-- project section starts here -->


    <div class="project-section" id="project">

    <div id="heading_card">MY PROJECTS</div>
      <div class="projects" id="projects">

        
        <div class="flip-card">
            
         <div class="flip-card-inner">


                        <div class="flip-card-front">
                            <div class="upper-section">
                                <img id="ayush" src="../Images/covid.png"  alt="product1">
                        </div>
                        
                        <div class="bottom-section">
                                <p class="heading"> Interactive Website on Covid-19</p><br>
                                <p class="sub-heading"> Hover here to see the project and source code! </p> 
                        </div>
                        
                        </div>


                                <div class="flip-card-back">
                                    
                                    <img id="ayush" src="../Images/github.png"  alt="product1">
                                    <hr>
                                    <p class="git-link"><a href="https://github.com/An0nym0us-MrAbhi/An0nym0us-MrAbhi.github.io" target="_blank">Click here for source code</a></p>
                                    <p class="project-link"><a href="https://an0nym0us-mrabhi.github.io/index.html"
                                        target="_blank">Click here for live project</a></p>

                                </div>
         </div>
        </div>
        

        <div class="flip-card">
            
            <div class="flip-card-inner">
   
   
                           <div class="flip-card-front">
                               <div style="background:rgb(0, 0, 0);"class="upper-section">
                                   <img id="ayush" src="../Images/bunk.png" style=" width:250px;"  alt="product1">
                           </div>
                           
                           <div class="bottom-section">
                                   <p class="heading"> Social media helping students bunk!</p><br>
                                   <p class="sub-heading"> Hover here to see the project and source code! </p> 
                           </div>
                           
                           </div>
   
   
                                   <div class="flip-card-back">
                                       
                                       <img id="ayush" src="../Images/github.png"  alt="product1">
                                       <hr>
                                       <p class="git-link"><a href="https://github.com/ayush-lab/bunker" target="_blank">Click here for source code</a></p>
                                       <p class="project-link"><a href="https://ayushbunkker.pythonanywhere.com/"
                                           target="_blank">Click here for live project</a></p>
   
                                   </div>
            </div>
           </div>
        
        <!-- end of second card -->
        <div class="flip-card">
            
            <div class="flip-card-inner">
   
   
                           <div class="flip-card-front">
                               <div class="upper-section">
                                   <img id="ayush" class="hope" src="../Images/hope.png"  alt="product1">
                           </div>
                           
                           <div class="bottom-section">
                                   <p class="heading"> Social Media to connect Plasma donors with covid patient</p><br>
                                   <p class="sub-heading"> Hover here to see the project and source code! </p> 
                           </div>
                           
                           </div>
   
   
                                   <div class="flip-card-back">
                                       
                                       <img id="ayush" src="../Images/github.png"  alt="product1">
                                       <hr>
                                       <p class="git-link"><a href="https://github.com/ayush-lab/hopedonor" target="_blank">Click here for source code</a></p>
                                      
   
                                   </div>
            </div>
           </div>




        <div class="flip-card">
            
            <div class="flip-card-inner">
   
   
                           <div class="flip-card-front">
                               <div class="upper-section">
                                   <img id="ayush" src="../Images/utube.png" style=" width:250px;"  alt="product1">
                           </div>
                           
                           <div class="bottom-section">
                                   <p class="heading"> MeTube allows watching youtube videos without disturbance</p><br>
                                   <p class="sub-heading"> Hover here to see the project and source code! </p> 
                           </div>
                           
                           </div>
   
   
                                   <div class="flip-card-back">
                                       
                                       <img id="ayush" src="../Images/github.png"  alt="product1">
                                       <hr>
                                       <p class="git-link"><a href="https://github.com/hrik2001/MeTube" target="_blank">Click here for source code</a></p>
                                       
   
                                   </div>
            </div>
           </div>
        
        <!-- end of fourth card -->



        </div>

    </div>
    <div class="connect-heading" id="connect">CONNECT WITH ME</div>
    <div class="contactlist">
       
        <div class="social-media-footer">
           <a href="https://www.instagram.com/ayuush_verma/" target="_blank"><span class="fa fa-instagram" style="color:white;"></span></a> 
            <a href="https://www.linkedin.com/in/ayushimpulse/" target="_blank"><span class="fa fa-linkedin-square" style="color:white;"></span></a> 
            <a href="https://www.quora.com/profile/Ayush-Verma-160" target="_blank"><span class="fa fa-quora" style="color:white;"></span> </a>
            <a href="https://www.codechef.com/users/ayush_8750" target="_blank"><i class="fab fa-cuttlefish" style="color:white;"></i></a>
            <a href="https://www.hackerrank.com/ayush_verma8750" target="_blank"><i class="fab fa-hackerrank" style="color:white;"></i></a>
          
        </div>
    </div>

    <div class="footer">
        <div class="footer-text">&#xa9;Ayush Verma</div>
    </div>



</body>
</html>