.about-me{
    display:flex;
    flex-wrap:wrap;
    /* background:linear-gradient(#a1c4fd, #c2e9fb); */
}

.aboutme-content{

    margin-top:30px;
    margin-left:30px;
    margin-right:10px;
    max-width:860px;
    margin-bottom:80px;

}
.aboutme-content h1{
    text-align:center;
    font-size:40px;
    margin-bottom:15px;
}


.about-pictures{
    flex-grow:1;
    display:flex;
    justify-content:center;
    align-items:center;
 
    
}

.about-pictures >img{
    
    object-fit: cover;
    width:250px;
    height:250px;
    border-radius:50%;
    border: solid 3px orange;
    margin-bottom:50px;
    /* box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.616),
    3px 3px 6px rgba(0, 0, 0, 0.541);
     */
}
.tech-skills-container{
    background:linear-gradient(#9796f0,#fbc7d4);
}

.tech-skills{
    text-align:center;
    text-transform: uppercase;
    font-size:40px;
    font-weight:bold;
    height:60px;
    padding-top:20px;
    color:white;
    
    
}



.skill-container{
    
    display:flex;
    justify-content: space-around;
    z-index:-100;
}

.skill-container >.css-html{
    margin-top:30px;
    /* background:linear-gradient(#e77987 , #f8c5cb); */
    background:linear-gradient(#8583eb,#f5a4b8);
    margin-bottom:60px;
    padding:30px;
    margin-right:20px;
    text-align:center;
    border-radius:10px;
    box-shadow: -2px -2px 5px rgba(245, 244, 244, 0.274),
        1px 1px 3px rgba(0, 0, 0, 0.541);


}
.css-heading{

    padding-top:15px;
    margin-bottom:20px;
    padding-bottom:20px;
    text-transform: uppercase;
   
    border-radius:10px;
    font-weight:bolder;
    position:relative;

}
.css-heading:after{
    content: "";
    display:inline-block;
    height:3px;
    width:70%;
    position: absolute;
    top: 40px;
    left:40px;
    background:black;
}


.css-content{
    width:240px;
    text-align:center;
}

.css-image >img{
    width:200px;
    height:200px;
     
    
}

.work-skills{
    text-align:center;
    text-transform: uppercase;
    font-size:40px;
    font-weight:bold;
    height:60px;
    padding-top:20px;
    
    
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .aboutme-content h1{

        font-size:20px;
    }
    .aboutme-content p{
        font-size:14px;
    
    }
    .aboutme-content{
        margin-bottom:20px;
    }

    .about-pictures >img{

        width:100px;
        height:100px;
       
        
        }


        .tech-skills{
            font-size:20px;  
        }


        .skill-container{
    
            display:flex;
            justify-content: space-around;
            z-index:-100;
        }
       
    .skill-container >.css-html{
        margin-top:0px;

        margin-bottom:20px;
        padding:10px;
        margin-right:0px;


    }
        .css-heading{

            padding-top:1px;
  
            padding-bottom:10px;
            text-transform: uppercase;
            font-size:11px;
            border-radius:10px;
            font-weight:bolder;
            position:relative;

        }
        .css-heading:after{
         
            top: 30px;
           
        }


        .css-content{
            width:250px;
            font-size:9px;
            
        }

        .css-image >img{
            width:100px;
            height:100px;
            
            
        }

        .work-skills{

            font-size:16px;
            font-weight:bold;
            height:30px;
            padding-top:20px;
            margin-bottom:30px;
            
        }


    .aboutme ::before{
        font-size:18px !important;
    }
        
}


@media only screen and (min-width:601px) and (max-width: 1000px) {

        .aboutme-content h1{

            font-size:25px;
        }
        .aboutme-content p{
            font-size:17px;
        
        }
        .aboutme-content{
            margin-bottom:20px;
        }

        .about-pictures >img{

            width:140px;
            height:140px;
        
            
            }


        .tech-skills{
            font-size:30px;  
            margin-bottom: 20px;
        }


        .skill-container{
    
            display:flex;
            justify-content: space-between;
            z-index:-100;
        }
       
        .skill-container >.css-html{
            margin-top:0px;

            margin-bottom:20px;
            padding:10px;
            margin-right:0px;


        }
        .css-heading{

            padding-top:1px;
  
            padding-bottom:10px;
            text-transform: uppercase;
            font-size:15px;
            border-radius:10px;
            font-weight:bolder;
            position:relative;

        }
        .css-heading:after{
         
            top: 30px;
           
        }


        .css-content{
            width:350px;
            font-size:13px;
            
        }

        .css-image >img{
            width:100px;
            height:100px;
            
            
        }

        .work-skills{

            font-size:16px;
            font-weight:bold;
            height:30px;
            padding-top:20px;
            margin-bottom:30px;
            
        }

        .aboutme ::before{
            font-size:35px !important;
        }


  
}
